@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

body::-webkit-scrollbar {
  width: 20px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #420c36;
}

.login-form-box {
  position: fixed;
  right: -40%;
  top: 0;
  width: 40%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.login-form-box.show {
  right: 0;
}

.login-form-box #close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 2rem;
}

.login-form-box .login-form {
  width: 100%;
  height: 100%;
  background-color: #14172c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form-box .login-form label {
  margin-bottom: 0;
  color: white;
  font-weight: 700;
}

.login-form-box .login-form input {
  display: block;
  padding: 0.5rem;
  width: 100%;
  color: #f3f3f3;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #a0a0a0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.login-form-box .login-form input:focus {
  outline: none;
  border-color: white;
}

.login-form-box .login-form small {
  color: #a0a0a0;
}

.login-form-box .login-form #alert-box {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.login-form-box .login-form #alert-box.text-danger {
  color: red !important;
}

.login-form-box .login-form button {
  border-radius: 0;
}

#main-page {
  width: 100%;
  height: 100vh;
  background: url("/img/05.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
}

#main-page nav {
  font-family: "Chivo";
}

#main-page nav .login {
  border: 1px solid rgba(161, 161, 161, 0.397);
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

#main-page nav .login:hover {
  background-color: #d4d4d4;
}

#main-page nav .login:hover a {
  color: #0e111d;
}

#main-page .background-filter {
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: brightness(60%) saturate(120%);
          backdrop-filter: brightness(60%) saturate(120%);
}

#main-page .deer {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 5%;
  left: 20%;
  background: url("/img/deer.svg");
  background-repeat: no-repeat;
  -webkit-filter: brightness(60%) saturate(140%) hue-rotate(-30deg);
          filter: brightness(60%) saturate(140%) hue-rotate(-30deg);
}

@media screen and (max-width: 768px) {
  #main-page .deer {
    width: 200px;
    bottom: 0;
  }
}

#main-page .main-info {
  width: 100%;
  height: 80%;
  font-family: "Varela Round";
}

#main-page .main-info h1 {
  font-size: 10rem;
  margin-top: 6rem;
}

@media screen and (max-width: 768px) {
  #main-page .main-info h1 {
    font-size: 6rem;
    margin-top: 4rem;
  }
}

#main-page .main-info p {
  margin-top: -1.5rem;
  color: #b1b1b1;
}

#offer {
  width: 100%;
  min-height: 100vh;
  background-color: #0c111e;
  position: relative;
}

#offer #deer {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 1%;
  bottom: 5%;
  background: url("/img/deer.svg");
  background-repeat: no-repeat;
  -webkit-filter: hue-rotate(-85deg) brightness(40%);
          filter: hue-rotate(-85deg) brightness(40%);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media screen and (max-width: 768px) {
  #offer #deer {
    display: none;
  }
}

#offer #bear {
  width: 300px;
  height: 300px;
  position: absolute;
  left: -3%;
  bottom: -8%;
  background: url("/img/bear.svg");
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: hue-rotate(-65deg) brightness(40%);
          filter: hue-rotate(-65deg) brightness(40%);
}

@media screen and (max-width: 768px) {
  #offer #bear {
    display: none;
  }
}

#offer h1 {
  font-family: "Titillium Web";
}

#offer hr {
  border: 1px solid rgba(121, 48, 79, 0.479);
}

#offer p {
  width: 60%;
  text-align: justify;
  color: #888888;
  font-family: "Varela Round";
}

@media screen and (max-width: 768px) {
  #offer p {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #offer .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#offer .cards .card {
  background-color: #14172c;
  font-family: "Chivo";
  width: 30%;
  height: 492px;
  border-bottom: 10px solid #c96b00;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media screen and (max-width: 768px) {
  #offer .cards .card {
    width: 100%;
  }
}

#offer .cards .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-color: transparent transparent red transparent;
}

#offer .cards .card .slide-number {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#offer .cards .card .image {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-filter: saturate(180%) brightness(65%);
          filter: saturate(180%) brightness(65%);
}

#offer .cards .card #i1 {
  background-image: url("/img/ludzie2.svg");
}

#offer .cards .card #i3 {
  background-image: url("/img/kampfire1.svg");
  background-size: 140%;
}

#offer .cards .card #i2 {
  background-image: url("/img//czilout3.svg");
}

#offer .cards .card article {
  color: #adadad;
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #offer .cards .card {
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }
}

#contact {
  height: 100vh;
  width: 100%;
  background-color: #0c111e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Titillium Web";
}

@media screen and (max-width: 768px) {
  #contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#contact h1 {
  text-align: center;
}

#contact #contact-image-board {
  width: calc(30% - 2rem);
  height: 80%;
  border-radius: 0.25rem 0 0 0.25rem;
  background: url("/img/eezy_64.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(70%) hue-rotate(220deg);
          filter: brightness(70%) hue-rotate(220deg);
}

@media screen and (max-width: 768px) {
  #contact #contact-image-board {
    display: none;
  }
}

#contact .contact-box {
  width: 80%;
  height: 80%;
  background-color: #1d3157;
  border-radius: 0 0.25rem 0.25rem 0;
}

@media screen and (max-width: 768px) {
  #contact .contact-box {
    width: 90%;
    border-radius: 0.25rem;
    margin-right: 0 !important;
    position: relative;
    background-color: unset;
    z-index: 2;
  }
  #contact .contact-box:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.25rem;
    -webkit-filter: brightness(20%);
            filter: brightness(20%);
    background: url("/img/eezy_64.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

#contact .contact-box .d-flex {
  height: 100%;
  width: 80%;
}

@media screen and (max-width: 768px) {
  #contact .contact-box .d-flex {
    width: 100%;
    padding: 0.25rem !important;
    margin: 0 !important;
  }
}

#contact .contact-box form {
  width: 100%;
  height: 100%;
}

#contact .contact-box form input,
#contact .contact-box form textarea {
  background-color: rgba(0, 0, 0, 0.466);
  border: 0;
}

#contact .contact-box form textarea {
  min-height: 225px;
  max-height: 225px;
}

#contact .contact-box form input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

#contact .contact-box form label {
  font-size: 1.2rem;
}

#contact #wild-life {
  width: 45%;
  height: 100%;
  position: relative;
  background: url("/img/Night Camping.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 0 0.25rem 0.25rem 0;
  -webkit-filter: hue-rotate(20deg);
          filter: hue-rotate(20deg);
}

@media screen and (max-width: 768px) {
  #contact #wild-life {
    display: none;
  }
}

#contact #wild-life .image2 {
  width: 70%;
  height: 100%;
  position: absolute;
  bottom: -30%;
  right: 0%;
  background: url("/img/fox.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: brightness(70%) hue-rotate(180deg);
          filter: brightness(70%) hue-rotate(180deg);
}

footer {
  height: 15vh;
  width: 100%;
  background-color: #161e34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Varela Round";
}
/*# sourceMappingURL=style.css.map */