@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

body {
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #000000;
	}

	&::-webkit-scrollbar {
		width: 20px;
		background-color: #f5f5f5;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #420c36;
	}
}
.login-form-box {
	position: fixed;
	right: -40%;
	top: 0;
	width: 40%;
	height: 100vh;
	display: flex;
	z-index: 100;
	justify-content: flex-end;
	box-shadow: 0 0 15px rgba(#000, 0.4);
	//background-color: rgba(#000, 0.5);
	transition: 0.3s all;
	&.show {
		right: 0;
	}

	#close-btn {
		position: absolute;
		top: 1rem;
		right: 1rem;
		color: white;
		font-size: 2rem;
	}

	.login-form {
		width: 100%;
		height: 100%;
		background-color: #14172c;
		display: flex;
		align-items: center;
		justify-content: center;

		label {
			margin-bottom: 0;
			color: white;
			font-weight: 700;
		}

		input {
			display: block;
			padding: 0.5rem;
			width: 100%;
			color: #f3f3f3;
			background-color: transparent;
			border: 0;
			border-bottom: 2px solid #a0a0a0;
			transition: 0.3s all;
			&:focus {
				outline: none;
				border-color: white;
			}
		}

		small {
			color: #a0a0a0;
		}

		#alert-box {
			font-size: 1.2rem;
			font-weight: 700;
			margin-top: 1rem;

			&.text-danger {
				color: red !important;
			}
		}

		button {
			border-radius: 0;
		}
	}
}
#main-page {
	width: 100%;
	height: 100vh;
	background: url("/img/05.jpg");
	background-size: cover;
	background-position: bottom;
	position: relative;
	nav {
		font-family: "Chivo";
		.login {
			border: 1px solid rgba(161, 161, 161, 0.397);
			transition: 0.7s all;
			&:hover {
				background-color: rgb(212, 212, 212);
				a {
					color: rgb(14, 17, 29);
				}
			}
		}
	}
	.background-filter {
		width: 100%;
		height: 100vh;
		backdrop-filter: brightness(60%) saturate(120%);
	}
	.deer {
		width: 300px;
		height: 300px;
		position: absolute;
		bottom: 5%;
		left: 20%;
		background: url("/img/deer.svg");
		background-repeat: no-repeat;
		filter: brightness(60%) saturate(140%) hue-rotate(-30deg);
		@media screen and (max-width: 768px) {
			width: 200px;
			bottom: 0;
		}
	}
	.main-info {
		width: 100%;
		height: 80%;
		font-family: "Varela Round";
		h1 {
			font-size: 10rem;
			margin-top: 6rem;
			@media screen and (max-width: 768px) {
				font-size: 6rem;
				margin-top: 4rem;
			}
		}
		p {
			margin-top: -1.5rem;
			color: rgb(177, 177, 177);
		}
	}
}
#offer {
	width: 100%;
	min-height: 100vh;
	background-color: #0c111e;
	position: relative;
	#deer {
		width: 400px;
		height: 400px;
		position: absolute;
		right: 1%;
		bottom: 5%;
		background: url("/img/deer.svg");
		background-repeat: no-repeat;
		filter: hue-rotate(-85deg) brightness(40%);
		transform: scaleX(-1);
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	#bear {
		width: 300px;
		height: 300px;
		position: absolute;
		left: -3%;
		bottom: -8%;
		background: url("/img/bear.svg");
		background-repeat: no-repeat;
		transform: scaleX(-1);
		filter: hue-rotate(-65deg) brightness(40%);
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	h1 {
		font-family: "Titillium Web";
	}
	hr {
		border: 1px solid rgba(121, 48, 79, 0.479);
	}
	p {
		width: 60%;
		text-align: justify;
		color: rgb(136, 136, 136);
		font-family: "Varela Round";
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
	.cards {
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
		.card {
			background-color: #14172c;
			font-family: "Chivo";
			width: 30%;
			height: 492px;
			border-bottom: 10px solid rgb(201, 107, 0);
			transform: scale(0.96);
			cursor: pointer;
			transition: 0.3s all;
			@media screen and (max-width: 768px) {
				width: 100%;
			}
			&:hover {
				transform: scale(1);
				box-shadow: 0 0 30px rgba(#000, 0.1);
				border-color: transparent transparent red transparent;
			}
			.slide-number {
				align-self: start;
			}
			.image {
				width: 100%;
				height: 200px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				filter: saturate(180%) brightness(65%);
			}
			#i1 {
				background-image: url("/img/ludzie2.svg");
			}
			#i3 {
				background-image: url("/img/kampfire1.svg");
				background-size: 140%;
			}
			#i2 {
				background-image: url("/img//czilout3.svg");
			}

			article {
				color: rgb(173, 173, 173);
				margin-bottom: 1rem;
				text-align: center;
			}
			@media screen and (max-width: 768px) {
				margin-right: 0 !important;
				margin-bottom: 1rem;
			}
		}
	}
}
#contact {
	height: 100vh;
	width: 100%;
	background-color: #0c111e;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-family: "Titillium Web";
	@media screen and (max-width: 768px) {
		justify-content: center;
	}

	h1 {
		text-align: center;
	}
	#contact-image-board {
		width: calc(30% - 2rem);
		height: 80%;
		border-radius: 0.25rem 0 0 0.25rem;
		background: url("/img/eezy_64.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		filter: brightness(70%) hue-rotate(220deg);
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	.contact-box {
		width: 80%;
		height: 80%;
		background-color: #1d3157;
		border-radius: 0 0.25rem 0.25rem 0;
		@media screen and (max-width: 768px) {
			width: 90%;
			border-radius: 0.25rem;
			margin-right: 0 !important;
			position: relative;
			background-color: unset;
			z-index: 2;
			&:before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 0.25rem;
				filter: brightness(20%);
				background: url("/img/eezy_64.svg");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				z-index: -1;
			}
		}
		.d-flex {
			height: 100%;
			width: 80%;
			@media screen and (max-width: 768px) {
				width: 100%;
				padding: 0.25rem !important;
				margin: 0 !important;
			}
		}
		form {
			width: 100%;
			height: 100%;
			input,
			textarea {
				background-color: rgba(0, 0, 0, 0.466);
				border: 0;
			}
			textarea {
				min-height: 225px;
				max-height: 225px;
			}
			input {
				&[type="checkbox"] {
					width: 20px;
					height: 20px;
				}
			}

			label {
				font-size: 1.2rem;
			}
		}
	}
	#wild-life {
		width: 45%;
		height: 100%;
		position: relative;
		background: url("/img/Night\ Camping.svg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left;
		border-radius: 0 0.25rem 0.25rem 0;
		filter: hue-rotate(20deg);
		@media screen and (max-width: 768px) {
			display: none;
		}
		.image2 {
			width: 70%;
			height: 100%;
			position: absolute;
			bottom: -30%;
			right: 0%;
			background: url("/img/fox.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: right;
			transform: scaleX(-1);
			filter: brightness(70%) hue-rotate(180deg);
		}
	}
}
footer {
	height: 15vh;
	width: 100%;
	background-color: #161e34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Varela Round";
}
